# Example application.yml 
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/hotelbooking
    username: preetishramola
    password: 
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  sql:
    init:
      mode: never

server:
  port: 8080
